<!DOCTYPE html>
<html>
  <head>
    <title>One</title>

    <% include include/game.ejs %>      
    
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        mazewidth = 16
        // Load the user blockly script
        $.getScript( '/content/blockly/commands-3-b/blockly-gen.js' )
          .done(function( script, textStatus ) {
            
          })
          .fail(function( jqxhr, settings, exception ) {
            console.log( 'Error loading user game' );
        });        
        
      })

            
    </script>
    
  </head>
  <body>
    <div id="game"></div>
  </body>
</html>
